#content{
  background-color: #fbfaba;

  min-height: 800px;
  padding: 30px;
  margin: 10px;
  border: solid 5px #0000FF;
  font-size: 20px;

}

.style{
  font-family: Verdana;
}

.text{
  text-align: left;

}

.frame{
    float: right;
    clear:right;
    margin-left: 20px;
}
