h1 {
  color: yellow;
  font-size: 200%;
}

p {
  font-family: "comic sans";
  text-indent: 20px;
  margin-left: 10px;
}
.organized{
  text-align: center;
}

.column{
  float: left;
  width: 33.33%;
  padding: 5px;
  display: inline-block;


}

.row::after{
  content: "";
  clear: both;
  display: table;
  display: inline-block;

}

#content{
  background-color: #aaaaaa;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 5px #0000FF;
  font-size: 20px;
  text-align: center;
}
